.navbar-nav {
    text-transform: uppercase;
}
$primary: #847770;
$secondary: #f7a54e;
$h1-font-size: 6rem;

$card-border-width: 0;
$card-border-radius: 0;
/*
$btn-border-radius: 20px;
*/
$btn-border-width: 0;
$btn-font-weight: bold;
$btn-color: #fff;

// scss-docs-start import-stack
// Configuration
@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/variables-dark";
@import "../../node_modules/bootstrap/scss/maps";
@import "../../node_modules/bootstrap/scss/mixins";
@import "../../node_modules/bootstrap/scss/utilities";

// Layout & components
@import "../../node_modules/bootstrap/scss/root";
@import "../../node_modules/bootstrap/scss/reboot";
@import "../../node_modules/bootstrap/scss/type";
@import "../../node_modules/bootstrap/scss/images";
@import "../../node_modules/bootstrap/scss/containers";
@import "../../node_modules/bootstrap/scss/grid";

@import "../../node_modules/bootstrap/scss/forms";
@import "../../node_modules/bootstrap/scss/buttons";
@import "../../node_modules/bootstrap/scss/transitions";
@import "../../node_modules/bootstrap/scss/nav";
@import "../../node_modules/bootstrap/scss/navbar";
@import "../../node_modules/bootstrap/scss/card";

// Helpers
@import "../../node_modules/bootstrap/scss/helpers";

// Utilities
@import "../../node_modules/bootstrap/scss/utilities/api";
// scss-docs-end import-stack

p {
    font-size: 1.4rem;
    color: darken($primary, 10%);
}
.bg-primary,
.bg-secondary {
    p,
    a {
        color: #fff;
    }
}
h3 {
    color: $secondary;
}
h2 {
    font-weight: bold;
}
.btn.btn-primary {
    color: #fff;
}

$mask-image-height: 80px;
.header {
    background: url("../img/header.png");
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    height: 800px;
    padding: calc($mask-image-height + 2rem) 2rem calc($mask-image-height + 2rem) 2rem;
}
.navbar .form {
    .form-control[type="text"],
    .btn {
        border-radius: 20px;
        background-color: lighten($primary, 40%);
        color: darken($primary, 30%);
        font-weight: bold;
    }
    .form-control[type="text"] {
        width: 6rem;
        transition: width 0.3s;
    }
    .btn {
        border: none;
        color: darken($primary, 30%);

        left: -1px;
    }
    .btn:hover {
        background-color: lighten($primary, 20%);
    }
    .form-control[type="text"]:hover,
    .form-control[type="text"]:active,
    .form-control[type="text"]:focus {
        width: 10rem;
    }
}
.decoration::after,
.decoration::before {
    content: "";
    height: $mask-image-height;
    width: 100%;
    background-color: #fff;
    position: absolute;
    left: 0;
}
.decoration::before {
    top: 0;
    -webkit-mask-position: bottom;
    -webkit-mask-image: url("../img/file.svg");
}
.decoration::after {
    bottom: 0;
    -webkit-mask-position: top;
    -webkit-mask-image: url("../img/file2.svg");
}

.header {
    h1 {
        /*margin: 5rem 0 0 0;
        text-transform: uppercase;*/
        color: lighten($secondary, 10%);
        font-weight: bold;
        text-shadow: 5px -2px 5px lighten($primary, 30%);
    }
    h3 {
        font-weight: bold;
        color: $primary;
        font-style: italic;
    }
    .btn {
        background-color: #fff;
    }
    p {
        color: $primary;
        font-style: italic;
        font-weight: 500;
        font-size: 1.4rem;
    }
}

.selections {
    display: flex;
    flex-direction: column;
    row-gap: 3rem;
    padding: 5rem 0 5rem 0;
    justify-content: center;
    align-items: center;
    background: url("../img/Shadow_.png");
    background-repeat: no-repeat;
    background-position: bottom left;
    h2 {
        margin: 5rem 0 2.5rem 0;
        font-weight: bold;
    }
    & > p {
        max-width: 60%;
        margin: 0 auto;
        padding: 0rem 0 5rem 0;
        color: $primary;
        font-size: 1.4rem;
    }
    .btn.btn-primary {
        color: #fff;
    }
}

.hiking {
    background:
        linear-gradient(rgba($primary, 0.5), rgba($primary, 0.5)),
        url("../img/Shadow_.png") no-repeat;
    background-position: auto, left;
    background-repeat: auto, no-repeat;

    position: relative;
    padding: calc($mask-image-height + 8rem) 10rem calc($mask-image-height + 8rem) 10rem;

    text-align: center;

    h2 {
        font-weight: bold;
    }
    p {
    }
}

.explore {
    background: url("../img/explore.png") no-repeat;
    background-position: center;
    position: relative;
    padding: calc($mask-image-height + 2rem) 2rem calc($mask-image-height + 2rem) 2rem;

    text-align: center;

    height: 800px;

    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-align: right;
    h2 {
        display: flex;
        flex-direction: column;
        font-weight: bold;
        font-style: italic;
        text-shadow: 5px -2px 5px lighten($primary, 30%);
        color: $secondary;
        text-transform: uppercase;
        span {
            color: darken($primary, 10%);
        }
    }
}
.quote {
    position: relative;
    background-image: url("../img/Shadow_.png");
    background-repeat: no-repeat;
    background-position: bottom left;
    .row:last-child {
        &::before {
            content: ";;";
            font-size: 4rem;
            width: 100px;
            height: 100px;

            margin: 0 auto;
        }
        p {
            padding: 0 7rem 0 7rem;
            font-weight: bold;
        }
    }
}
.subscribe {
    background: $secondary;

    position: relative;
    padding: calc($mask-image-height + 2rem) 4rem calc($mask-image-height + 2rem) 4rem;

    text-align: center;

    height: 800px;
    display: flex;
    flex-direction: column;
    gap: 3rem;

    justify-content: center;

    align-items: center;
    h2 {
        font-weight: bold;
    }
    .form {
        width: 80%;
        input,
        button {
        }
        input {
            position: relative;
            font-weight: bold;
            color: $primary;
        }
        label {
            font-weight: bold;
            color: $primary;
        }
        button {
            position: absolute;
            right: 0;
            top: 0;
            font-size: 1.4rem;
            padding: 0.8rem 1.22rem;
        }
    }
}

.footer {
    position: relative;
    margin-top: 8rem;
    h3 {
        color: #fff;
        font-weight: 400;
    }
    a:hover {
        color: $secondary;
    }
    padding: calc($mask-image-height + 4rem) 2rem 2rem 2rem;

    .col-md-6:first-child {
        .nav.social {
            justify-content: space-between;
            .nav-link {
                font-size: 2rem;
            }
        }
    }
}
.footer::before {
    content: "";
    width: 100%;
    height: $mask-image-height;
    position: absolute;
    left: 0;
    background-color: white;
    top: 0;
    -webkit-mask-image: url("../img/file.svg");
    -webkit-mask-position: bottom;

    padding-bottom: 0;
}

.btn {
    text-transform: uppercase;
}

.img-fluid {
    object-fit: cover;
}

.valami .col-md-6 {
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
