/*
$btn-border-radius: 20px;
*/
/* PLUS VARIABLES */
$mask-image-height: 80px;
/*--------------*/

$btn-border-width: 0;
$btn-font-weight: bold;
$btn-color: #fff;

$primary: #847770;
$secondary: #f7a54e;
$h1-font-size: 6rem;

$card-border-width: 0;
$card-border-radius: 0;

$theme-colors: (
    "primary": $primary,
    "secondary": $secondary
);

$grid-breakpoints: (
    xs: 0,
    sm: 768px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
    xxl: 1400px
);

@import "../../node_modules/bootstrap/scss/bootstrap.scss";
