@use "../custom" as *;

.btn-custom {
    @extend .btn; // extend the bootstrap .btn class
    background-color: #ff08ef;
    color: #fff;

    &:hover {
        background-color: darken(#007bff, 10%); // darken the color a bit on hover
    }
}

.btn.btn-primary {
    color: #fff;
}

.btn {
    text-transform: uppercase;
}

.btn-lg {
    @extend .btn-lg;
    padding: 1rem 5rem 1rem 5rem;
    letter-spacing: 0.1rem;
}
