@use "../custom" as *;
.ourstory {
    .header-image {
        background: url("../img/explore.png") no-repeat;
        background-position: center;
        position: relative;
        padding: calc($mask-image-height + 2rem) 2rem calc($mask-image-height + 2rem) 2rem;

        text-align: center;

        height: 800px;

        display: flex;
        justify-content: flex-end;
        align-items: center;
        text-align: right;
        h2 {
            display: flex;
            flex-direction: column;
            font-weight: bold;
            font-style: italic;
            text-shadow: 5px -2px 5px lighten($primary, 30%);
            color: $secondary;
            text-transform: uppercase;
            span {
                color: darken($primary, 10%);
            }
        }
    }
    .testimontials {
        position: relative;
        background-image: url("../img/Shadow_2.png");
        background-repeat: no-repeat;
        background-position: bottom right;
        padding: calc($mask-image-height + 2rem) 2rem calc($mask-image-height + 2rem) 2rem;

        &::before {
            font-family: FontAwesome;
            content: "\F10d";
            padding-bottom: 8rem;
            font-size: 4rem;
            width: 100px;
            height: 100px;

            margin: 0 auto;
        }
        p {
            padding: 0 7rem 0 7rem;
            font-weight: bold;
        }
        p:last-child {
            padding-top: 4rem;
        }
    }
}

@media screen and (max-width: 768px) {
    .ourstory {
        .testimontials p {
            padding: 0;
        }
    }
}
